<h1>Listing normas</h1>

<table>
  <tr>
    <th>Norma</th>
    <th>Titulo</th>
    <th>Resumen</th>
    <th>Notas</th>
    <th>Lugar</th>
    <th>Ambito</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @normas.each do |norma| %>
  <tr>
    <td><%= norma.norma %></td>
    <td><%= norma.titulo %></td>
    <td><%= norma.resumen %></td>
    <td><%= norma.notas %></td>
    <td><%= norma.lugar_id %></td>
    <td><%= norma.ambito_id %></td>
    <td><%= link_to 'Show', norma %></td>
    <td><%= link_to 'Edit', edit_norma_path(norma) %></td>
    <td><%= link_to 'Destroy', norma, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Norma', new_norma_path %>
